# Cache files
__pycache__/
.pyc
.DS_Store

# Project-specific ignores
*.bin
*.ld
*.o
*.z64
asm/
assets/
build/
expected/
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
tools/n64crc/n64crc.exe
src/mod/

# Tool artifacts
--no-check-sections
.ninja_deps
.ninja_log
build.ninja
undefined_funcs_auto.txt
undefined_syms_auto.txt
api_key.txt
ctx.c
context.txt